.About {
  padding: 6rem 0rem;
  background: #1e1e1e;
  /* background: linear-gradient(15deg,  rgb(9, 97, 34) 20%, rgb(1, 48, 22) 50%); */
  width: 100%;
  position: relative;
}
.About2 {
  padding: 6rem 0rem;
  background: #080808;
  /* background: linear-gradient(15deg,  rgb(9, 97, 34) 20%, rgb(1, 48, 22) 50%); */
  width: 100%;
}

.About-background {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
}
.About-background img {
  width: 100%;
  object-fit: cover;
}

.About-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.About-main-body {
  color: white;
}

.About-main-left {
  width: 70%;
}

.About-left-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.About-left-head p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #4b4b4b;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.About-left-head p svg {
  font-size: 20px;
  color: #aa8453;
}
.About-left-head span {
  font-size: 20px;
  color: #aa8453;
}

.About-main-left h4 {
  font-size: 20px;
  font-weight: 300;
  color: #aaaaaa;
  margin-bottom: 2rem;
  position: relative;
  /* font-family: "Playwrite IN", cursive; */
}
.About-main-left h2 {
  font-size: 70px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 0.5px #ffffff;
  line-height: 1;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 12px;
}
.About-main-left h2:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 10%;
  display: flex;
  width: 300px;
  height: 1px;
  border-radius: 5px;
  background-color: #aa8453;
}

.About-left-body {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.About-left-body h2 {
  margin: 0;
  margin-right: 25px;
  border-right: 1px solid rgb(172, 172, 172);
  padding-right: 25px;
  font-size: 2rem;
  width: 35%;
}
.About-left-body p {
  border-top: 1px solid rgb(172, 172, 172);
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 20px;
  /* width: 40%; */
}

.About-right-body {
  background-color: white;
  border-radius: 5px;
  padding: 3rem;
  color: black;
  margin: 0px 30px;
}

.About-right-stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.About-right-stars p {
  /* background-color: green; */
  border-radius: 50px;
  /* padding: 10px 20px; */
  margin: 0;
}

.About-right-body p {
  margin-top: 10px;
}

.About-foot-box {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
}
.About-foot-box img {
  width: 100%;
}

.About-main-foot .branded img {
  position: absolute;
  right: 0;
  bottom: -8.5%;
}

.About-main-right {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.About-left {
  width: 50%;
}

.About-box img {
  width: 100%;
  border-radius: 25px 0 25px 0;
}

.About-right {
  position: absolute;
  left: 42%;
  bottom: 5%;
  width: 40%;
  background-color: #1e1e1e;
  border-radius: 25px;
  padding: 3.5rem 2.5rem;
  box-shadow: -7px 7px 5px 0px rgba(82, 82, 82, 0.3);
}

.About-right p {
  font-size: 21px;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 2rem;
  color: #aa8453;
  font-family: "Playwrite IN", cursive;
}

.About-btn {
  position: relative;
}
.About-btn p {
  position: absolute;
  bottom: -50px;
  right: -70%;
  border-radius: 50%;
  background-color: #4b4b4b;
  z-index: 9;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 200;
  color: white;
}

.About-btn p {
  animation: bounce2 2s ease infinite;
}

.about-detail h2 {
  text-align: center;
  font-size: 46px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}

.about-detail h4 {
  text-align: center;

  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #aa8453;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.about-detail p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Ruluko", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.about-detail span {
  text-align: justify;
  color: #aa8453;
  font-family: "Ruluko", Sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.about-main-peoples {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about-our-people h2 {
  text-align: center;
  color: #aa8453;
  font-family: "Ruluko", Sans-serif;
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 40px;
}

.people-box {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}

.people-box-image {
  width: 16%;
  padding: 10px;
}

.people-box img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  height: auto;
}

.people-box-detail {
  width: 84%;
  padding: 10px;
}
.people-box-detail h3 {
  margin-bottom: 20px;
  color: white;
  font-family: "Ruluko", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.people-box-detail h3 a {
  color: #aa8453;
  text-decoration: none;
}

.people-box-detail p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Ruluko", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.people-box-button a p {
  font-family: "Ruluko", Sans-serif;
  font-weight: 500;
  fill: #000000;
  color: white;
  background-color: #aa8453;
  padding: 12px 24px;
  font-size: 15px;
  border-radius: 3px;
  margin: 0;
}
.people-box-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.people-box-button a {
  text-decoration: none;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (min-width: 1200px) {
  .About-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 990px) {
  .About-main {
    max-width: 720px;
  }
}

@media only screen and (max-width: 680px) {
  .About-main-left h2 {
    font-size: 48px;
    overflow: hidden;
  }

  .About-main-left {
    width: 100%;
  }

  .About-main-right {
    flex-wrap: wrap;
  }

  .About-left {
    width: 100%;
  }

  .About-right {
    width: 100%;
    position: relative;
    left: 0;
  }

  .About-btn {
    position: static;
  }

  .About-btn p {
    right: 10%;
    bottom: -7%;
  }
  .about-detail h2 {
    font-size: 35px;
  }

  .people-box {
    flex-wrap: wrap;
  }

  .people-box-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .people-box img {
    width: 60%;
  }
  
  .people-box-detail {
    width: 100%;
  }

  .people-box-detail h3{
    text-align: center;
  }
}
