.Home1 {
    background-color: #222;
    color: white;

}

/* .Home-box{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

.Home-box {
    padding-top: 2rem;
    background-color: #87878721;
    width: 100%;
}


.Home1-detail,
.Home1-rooms-suits,
.Home1-services,
.Home1-video-promote-box,
.Home1-Facilities,
.Home1-review-box,
.Home1-category,
.Home1-news,
.Home1-contact-box,
.Home1-contact-detail-box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Home1-rooms {
    background: #1e1e1e;
}

.Home1-video-promote,
.Home1-review ,
.Home1-contact{
    height: 500px;
    background-image:url(../../Assets/ImagesNew/background.jpg) ;
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
}
.Home1-contact:before{
    opacity: 0.3;
}

.Home1-contact-detail{
    background-color: white;
    color: black;
}


@media screen and (min-width: 1200px) {

   
    .Home1-detail,
    .Home1-rooms-suits ,
    .Home1-services,
    .Home1-video-promote-box,
    .Home1-Facilities,
    .Home1-review-box,
    .Home1-category,
    .Home1-news,
    .Home1-contact-box,
    .Home1-contact-detail-box{
        max-width: 1180px;
    }
}