.Contact {
    /* margin-top: 40px; */
    padding: 7rem 0rem;
    width: 100%;
    /* border-bottom: 1px solid #cecece; */
    background-color: #2f2f2f;
}

.Contact-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-title h6 {
    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #aa8453;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 6px;
    margin-bottom: 5px;
}

.contact-title h1 {
    font-size: 46px;
    font-family: 'Gilda Display', serif;
    font-weight: 400;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.25em;
}

.Contact-box {
    display: flex;
    /* gap: 2rem; */
    margin-bottom: 2rem;
}

.Contactbox-left {
    width: 40%;
}

.Contactbox-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Contactbox-right {
    width: 60%;
    background-color: #1e1e1e;
    /* background-color: #00678612; */
    padding: 3rem;
    /* border-radius: 8px; */
}

.contact-text{
    color: #aa8453;
    font-size: 25px;
    text-align: center;
    margin: 5rem 0 2rem 0;
}

.contactdetail-box {
    display: flex;
    gap: 2rem;
}
.contactdetail-box-left {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
.contactdetail-box-right{
    width: 70%;
}
.contactdetail-box-right p{
    color: white;
}

.contact-detail-card {
    background-color: #1e1e1e;
    /* border-radius: 8px; */
    padding: 1rem;
    display: flex;
    align-items: center;
}

.contact-detail-card p {
    margin: 0;
    font-size: 14px;
    color: white;
}

.contact-detail-card svg {
    font-size: 50px;
    margin-right: 1rem;
    color: #aa8453;
}

.contactcard-detail{
    width: 80%;
}
.contactcard-detail h6 {
    color: #aa8453;
}

.contactcard-detail h6:after {
    content: "";
    margin-top: 2px;
    display: flex;
    height: 2px;
    width: 25%;
    border-radius: 50px;
    background-color: #aa8453;
}

@media (min-width: 1200px) {
    .Contact-main {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 680px) {

    .Contactbox-left,
    .Contactbox-right {
        width: 100%;
    }

    .Contactbox-left p {
        text-align: center;
    }

    .Contact-box {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .contactdetail-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-top: 2rem;
        color: white;
    }
}