.HomeVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
}

.HomeVideo-container p {
    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 6px;
    margin-bottom: 5px;
   
}
.HomeVideo-container h2 {
    font-size: 46px;
    font-family: 'Gilda Display', serif;
    font-weight: 400;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.25em;
}
.HomeVideo-container svg {
    font-size: 50px;
    color: #aa8453;
    cursor: pointer;
}

@media only screen and (max-width: 680px) {
    .HomeVideo-container h2 {
        font-size: 35px;
    }
}